<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebProjectVersion-2</display-name>
  <welcome-file-list>
    <welcome-file>index1.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteRestaurant</display-name>
    <servlet-name>DeleteRestaurant</servlet-name>
    <servlet-class>com.registerationcontroller.DeleteRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRestaurant</servlet-name>
    <url-pattern>/DeleteRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantUpdateRecord</display-name>
    <servlet-name>RestaurantUpdateRecord</servlet-name>
    <servlet-class>com.registerationcontroller.RestaurantUpdateRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantUpdateRecord</servlet-name>
    <url-pattern>/RestaurantUpdateRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRestaurant</display-name>
    <servlet-name>AddRestaurant</servlet-name>
    <servlet-class>com.registerationcontroller.AddRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRestaurant</servlet-name>
    <url-pattern>/AddRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRestaurantAccount</display-name>
    <servlet-name>DeleteRestaurantAccount</servlet-name>
    <servlet-class>com.registerationcontroller.DeleteRestaurantAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRestaurantAccount</servlet-name>
    <url-pattern>/DeleteRestaurantAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivateRestaurant</display-name>
    <servlet-name>ActivateRestaurant</servlet-name>
    <servlet-class>com.registerationcontroller.ActivateRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateRestaurant</servlet-name>
    <url-pattern>/ActivateRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateRestaurantProfile</display-name>
    <servlet-name>updateRestaurantProfile</servlet-name>
    <servlet-class>com.registerationcontroller.updateRestaurantProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateRestaurantProfile</servlet-name>
    <url-pattern>/updateRestaurantProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateRestaurantSetting</display-name>
    <servlet-name>updateRestaurantSetting</servlet-name>
    <servlet-class>com.registerationcontroller.updateRestaurantSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateRestaurantSetting</servlet-name>
    <url-pattern>/updateRestaurantSetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProfile</display-name>
    <servlet-name>AdminUpdateProfile</servlet-name>
    <servlet-class>com.registerationcontroller.AdminUpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProfile</servlet-name>
    <url-pattern>/AdminUpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSetting</display-name>
    <servlet-name>AdminSetting</servlet-name>
    <servlet-class>com.registerationcontroller.AdminSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSetting</servlet-name>
    <url-pattern>/AdminSetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.registerationcontroller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatCollection</display-name>
    <servlet-name>SeatCollection</servlet-name>
    <servlet-class>com.registerationcontroller.SeatCollection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatCollection</servlet-name>
    <url-pattern>/SeatCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreviewBook</display-name>
    <servlet-name>PreviewBook</servlet-name>
    <servlet-class>com.registerationcontroller.PreviewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewBook</servlet-name>
    <url-pattern>/PreviewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadyToPreview</display-name>
    <servlet-name>ReadyToPreview</servlet-name>
    <servlet-class>com.registerationcontroller.ReadyToPreview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadyToPreview</servlet-name>
    <url-pattern>/ReadyToPreview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmBookPayment</display-name>
    <servlet-name>ConfirmBookPayment</servlet-name>
    <servlet-class>com.registerationcontroller.ConfirmBookPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBookPayment</servlet-name>
    <url-pattern>/ConfirmBookPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackServlet</display-name>
    <servlet-name>BackServlet</servlet-name>
    <servlet-class>com.registerationcontroller.BackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackServlet</servlet-name>
    <url-pattern>/BackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackServletPB</display-name>
    <servlet-name>BackServletPB</servlet-name>
    <servlet-class>com.registerationcontroller.BackServletPB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackServletPB</servlet-name>
    <url-pattern>/BackServletPB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackServletSSS</display-name>
    <servlet-name>BackServletSSS</servlet-name>
    <servlet-class>com.registerationcontroller.BackServletSSS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackServletSSS</servlet-name>
    <url-pattern>/BackServletSSS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBookingServlet</display-name>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>com.registerationcontroller.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/CancelBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockLink</display-name>
    <servlet-name>BlockLink</servlet-name>
    <servlet-class>com.registerationcontroller.BlockLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockLink</servlet-name>
    <url-pattern>/BlockLink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerProfileUpdate</display-name>
    <servlet-name>CustomerProfileUpdate</servlet-name>
    <servlet-class>com.registerationcontroller.CustomerProfileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerProfileUpdate</servlet-name>
    <url-pattern>/CustomerProfileUpdate</url-pattern>
  </servlet-mapping>
</web-app>